body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2 {
    color: #00ccff;
}

.project-card {
    background: #1e1e1e;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
}
